<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>

<hr>
<!-- List all the Recipes -->
<div class="row">
  <div class="col-xs-12">
    <a href="#" style="text-decoration:none;" class="list-group clearfix">
      <div class="list-group" *ngFor="let recipe of recipes; let i = index;">
        <div class="list-group-item">
          <div class="float-start">
            <h2 class="list-group-item-heading">{{recipe.name}}</h2>
            <p class="list-group-item-text">{{recipe.description}}</p>
          </div>
          <span class="float-end">
            <img [src]="recipe.imagePath" alt="" class="img-responsive" style="max-height: 85px;">
          </span>
        </div>
      </div>
    </a>
  </div>
</div>
