 <app-hello-world [count]="count"></app-hello-world>

<button (click)="count = count + 1">add to count</button>

<!-- <app-parent-component></app-parent-component>  -->
<!-- <div>
  <app-ad-banner [ads]="ads" ></app-ad-banner>
</div> -->

<p [appHighlight]="color">Highlight me!</p>

<h1>My First Attribute Directive</h1>

<h2>Pick a highlight color</h2>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [appHighlight]="color">Highlight me!</p>

