.currentSong
{
  margin-top: 630px;
  width: auto;
  height: 90px;
  background-color: var(--secondarycolor);
}

.div1 {
  flex-grow: 1;
  border: solid;
  border-color: white;
  background-color: green;
  width: auto;
  height: 600px;
}

.div2 {
  flex-grow: 1;
  border: solid;
  border-color: white;
  background-color: blue;
  width: auto;
  height: 120px;
}


